body {
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

.sp-only {
  display: none;
}

.header {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
.header-link__wrapper {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 30px;
}
.header__logo a {
  width: 100%;
  height: 100%;
  display: block;
}
.header__logo img {
  width: 100%;
}
.header__left-title {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}
.header__menu {
  width: 31px;
  height: 16px;
  position: relative;
}
.header__menu-line {
  position: absolute;
  height: 2px;
  background: linear-gradient(to right, #fa41cc, #6020b0);
  width: 31px;
}
.header__menu-line:nth-child(1) {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.header__menu-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header__menu-line:nth-child(3) {
  bottom: 0;
  transition: 0.3s;
}

.header__line-active01 {
  transform: translate(0px, 8px) rotate(45deg);
}

.header__line-active03 {
  transform: translate(-1px, -5px) rotate(-45deg);
}

.mv {
  padding: 0 20px 400px;
  position: relative;
  background-image: url("../img/mv01.png");
  background-position: center center;
  background-size: cover;
}
.mv:before {
  position: absolute;
  bottom: 0;
  content: url(../img/mv02.png);
  transform: translateX(-50%) scale(0.5);
  left: 50%;
}
.mv__title {
  font-size: 32px;
  font-weight: bold;
  padding-top: 130px;
  line-height: 1.7;
}
.mv__title-sub {
  line-height: 1.7;
  margin-top: 30px;
}

.inquire-btn {
  text-align: center;
  color: white;
  width: 155px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fa41cc 0%, #6020b0 100%);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  border-radius: 10px;
}
.inquire-btn_mv-margin {
  margin-top: 30px;
}