.l-section(data-aos="fade-up").l-section__wrapper-pc
  h2.l-section__title ブログ
    p.l-section__title-sub BLOG
  ul.cards
    li.cards__item 
      .cards__img-wrapper 
        img(src="../img/blog01.png").cards__img
      p.cards__txt WebサイトでSEO内部施策に適したコーディングでどれぐらいサイトが早くなるのか検証してみました
      time.cards__time 2020.01.23
    li.cards__item 
      .cards__img-wrapper 
        img(src="../img/blog01.png").cards__img
      p.cards__txt WebサイトでSEO内部施策に適したコーディングでどれぐらいサイトが早くなるのか検証してみました
      time.cards__time 2020.01.23
    li.cards__item 
      .cards__img-wrapper 
        img(src="../img/blog01.png").cards__img
      p.cards__txt WebサイトでSEO内部施策に適したコーディングでどれぐらいサイトが早くなるのか検証してみました
      time.cards__time 2020.01.23