.l-section(data-aos="fade-up").l-section__wrapper-pc
  h2.l-section__title お問い合わせ
    p.l-section__title-sub CONTACT
    p.l-section__title-sub コーディングの人出が足りないとき、
      br
      | あなたの力になります
  form.contact__form
    .contact__title-wrapper
      .contact__title お名前
      .contact__caution 必須
    input(type="text" name="name" placeholder="山田太郎").contact__input.contact__input-name
    .contact__title-wrapper
      .contact__title メールアドレス
      .contact__caution 必須
    input(type="email" name="mail" placeholder="メールアドレス").contact__input.contact__input_mail
    .contact__title-wrapper
      .contact__title お問い合わせ内容
      .contact__caution 必須
    textarea(type="text" name="detail" placeholder="お問い合わせ内容").contact__input.contact__input_detail
    .agree-wrapper
      input(type="checkbox" value="" name="agree").input__agree 
      p.input__agree-txt プライバシーに同意する
    button(type="submit" disabled).contact__submit 送信


