.l-section(data-aos="fade-up").l-section__wrapper-pc
  h2.l-section__title よくある質問
    p.l-section__title-sub FAQ 
  dl.inquire__list 
    dt.inquire__title デザインから一貫してお願いすることは可能でしょうか
    dd.inquire__body ユアコーディングはコーディングに特化したサービスですので、デザインからお受けすることは基本的にありません。ただデザインを行う際は提携しているデザイナーと連携して対応させていただきますので、別途ご連絡ください。
    dt.inquire__title WordPressのカスタマイズをお願いすることも可能でしょうか？
    dd.inquire__body 可能です。ただECサイトなどの場合は構築難易度や工数の関係で綿密にヒアリングさせていただきたく思います。
    dt.inquire__title コーディングのスピード感が知りたい
    dd.inquire__body HTMLレスポンシブ込み5ページで1週間、10ページで2週間、WordPressサイト5ページで2週間、10ページで3週間が目安になります。