.l-section(data-aos="fade-up").l-section__wrapper-pc
  h2.l-section__title ユアコーディング3つの特徴
    p.l-section__title-sub FEATURES
  article.intro-card
    h3.intro-card__title 高速コーディング
    .intro-card__body-devide
      .intro-card__img-wrapper
        img(src="../img/intro01.png" alt="高速コーディングの画像").intro-card__img
      .intro-card__body-right
        p.intro-card__exp コーディングに特化したフリーランスのため、
          br
          | スピード感を持った開発が可能。
        p.intro-card__exp-sub 開発は常にスピードとの勝負です。ユアコーディングはコーディングに特化しているため、素早く納品することで、クライアントがデザインに注力する助けとなります。
.l-section(data-aos="fade-up").l-section__wrapper-pc
  //- h2.l-section__title ユアコーディング3つの特徴
  //-   p.l-section__title-sub FEATURES
  article.intro-card
    h3.intro-card__title 高速コーディング
    .intro-card__body-devide
      .intro-card__img-wrapper
        img(src="../img/intro01.png" alt="高速コーディングの画像").intro-card__img
      .intro-card__body-right
        p.intro-card__exp コーディングに特化したフリーランスのため、
          br
          | スピード感を持った開発が可能。
        p.intro-card__exp-sub 開発は常にスピードとの勝負です。ユアコーディングはコーディングに特化しているため、素早く納品することで、クライアントがデザインに注力する助けとなります。
.l-section(data-aos="fade-up").l-section__wrapper-pc
  //- h2.l-section__title ユアコーディング3つの特徴
  //-   p.l-section__title-sub FEATURES
  article.intro-card
    h3.intro-card__title 高速コーディング
    .intro-card__body-devide
      .intro-card__img-wrapper
        img(src="../img/intro01.png" alt="高速コーディングの画像").intro-card__img
      .intro-card__body-right
        p.intro-card__exp コーディングに特化したフリーランスのため、
          br
          | スピード感を持った開発が可能。
        p.intro-card__exp-sub 開発は常にスピードとの勝負です。ユアコーディングはコーディングに特化しているため、素早く納品することで、クライアントがデザインに注力する助けとなります。