.l-section(data-aos="fade-up").l-section__wrapper-pc
  h2.l-section__title 価格
    p.l-section__title-sub PRICE 
  table(border="1").price-table 
    tr.price-body-devide
      th.price-table__title.price-table_border-top HTMLコーディングトップページ
      td.price-table__data.price-table__data_border-top 30.000円〜
    tr.price-body-devide
      th.price-table__title HTMLコーディング下層1ページ
      td.price-table__data 10.000円〜
    tr.price-body-devide
      th.price-table__title HTML+WordPressトップページ
      td.price-table__data 55.000円〜
    tr.price-body-devide
      th.price-table__title HTML+WordPress下層1ページ
      td.price-table__data 15.000円〜
  p.price-cation ＊詳細な価格はページや仕様によって異なります

