.l-section(data-aos="fade-up")
  h2.l-section__title 制作実績
    p.l-section__title-sub WORKS 
  ul.works__list 
    li.works__item
      a(href="")
        .works__img-wrapper 
          img(src="../img/works01.png").works__img
        p.works__txt 株式会社サンプル様採用サイトのコーディングを行いました！
        ul.works__detail-list
          li.works__detail-item 採用技術：jQuery,Bootstrap4
          li.works__detail-item 実装期間：2週間
          li.works__detail-item 担当コーダー：石井
    li.works__item
      a(href="")
        .works__img-wrapper 
          img(src="../img/works01.png").works__img
        p.works__txt 株式会社サンプル様採用サイトのコーディングを行いました！
        ul.works__detail-list
          li.works__detail-item 採用技術：jQuery,Bootstrap4
          li.works__detail-item 実装期間：2週間
          li.works__detail-item 担当コーダー：石井
    li.works__item
      a(href="")
        .works__img-wrapper 
          img(src="../img/works01.png").works__img
        p.works__txt 株式会社サンプル様採用サイトのコーディングを行いました！
        ul.works__detail-list
          li.works__detail-item 採用技術：jQuery,Bootstrap4
          li.works__detail-item 実装期間：2週間
          li.works__detail-item 担当コーダー：石井
    li.works__item
      a(href="")
        .works__img-wrapper 
          img(src="../img/works01.png").works__img
        p.works__txt 株式会社サンプル様採用サイトのコーディングを行いました！
        ul.works__detail-list
          li.works__detail-item 採用技術：jQuery,Bootstrap4
          li.works__detail-item 実装期間：2週間
          li.works__detail-item 担当コーダー：石井
    li.works__item
      a(href="")
        .works__img-wrapper 
          img(src="../img/works01.png").works__img
        p.works__txt 株式会社サンプル様採用サイトのコーディングを行いました！
        ul.works__detail-list
          li.works__detail-item 採用技術：jQuery,Bootstrap4
          li.works__detail-item 実装期間：2週間
          li.works__detail-item 担当コーダー：石井
    li.works__item
      a(href="")
        .works__img-wrapper 
          img(src="../img/works01.png").works__img
        p.works__txt 株式会社サンプル様採用サイトのコーディングを行いました！
        ul.works__detail-list
          li.works__detail-item 採用技術：jQuery,Bootstrap4
          li.works__detail-item 実装期間：2週間
          li.works__detail-item 担当コーダー：石井



