doctype html
html(lang="ja")
  head
    block meta
      meta(charset="utf-8")
      meta(name='viewport' content='width=device-width')
    block title
      title 
    block style
      link(rel="stylesheet" href="../css/reset.css")
    block script
  body


